/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../home/vagrant/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../home/vagrant/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../home/vagrant/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../home/vagrant/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../home/vagrant/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../home/vagrant/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../home/vagrant/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../home/vagrant/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../home/vagrant/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_default-variables.scss */
body {
  background-color: #fff;
}

/* line 7, ../sass/_default-variables.scss */
.navbar {
  margin-bottom: 0px;
  border-width: 0px 0px 3px 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #430517;
}

/* line 17, ../sass/_default-variables.scss */
button.navbar-toggle {
  margin-right: 30px;
}

/* line 21, ../sass/_default-variables.scss */
a.name.navbar-brand {
  background-color: #430517;
  color: #45b52a;
  font-family: "Mystery Quest";
  padding-left: 15px;
  margin-left: 0px;
  /*border-top-left-radius: 4px;*/
}

/* line 30, ../sass/_default-variables.scss */
h1.page-header {
  display: none;
}

/* line 34, ../sass/_default-variables.scss */
.container {
  padding: 0px;
}

/* line 38, ../sass/_default-variables.scss */
section.col-sm-12 {
  padding: 0px;
}

/* line 42, ../sass/_default-variables.scss */
.footer {
  margin-top: 0px;
  background-color: #430517;
}

@media (min-width: 768px) {
  /* line 48, ../sass/_default-variables.scss */
  .navbar > .container .navbar-brand {
    margin-left: 0px;
  }
}
/* line 53, ../sass/_default-variables.scss */
#block-user-login {
  margin-left: 40px;
}
/* line 57, ../sass/_default-variables.scss */
#block-user-login li {
  font-family: "Mystery Quest";
}
/* line 61, ../sass/_default-variables.scss */
#block-user-login h2.block-title {
  margin-top: 20px;
}
/* line 64, ../sass/_default-variables.scss */
#block-user-login .form-control {
  width: 40%;
}

/*#custom-jumbotron {
	background-color: #ff33f3;
	background-size: 100%;
	background-position: center;
	background-size: cover;
	img.img-responsive {
		margin: auto;
	}
}
*/
/* line 1, ../sass/_homepage.scss */
.know-your-enemy-homepage {
  position: relative;
}

/* line 4, ../sass/_homepage.scss */
.sidebar-overlay {
  position: absolute;
  top: 90px;
  right: 5%;
  height: 100%;
}

/* line 11, ../sass/_homepage.scss */
#block-views-factfile-block-1 {
  z-index: 5;
  width: 100%;
  height: auto;
  outline: 4px dashed red;
  padding: 10px;
  margin-top: 15%;
}
/* line 18, ../sass/_homepage.scss */
#block-views-factfile-block-1 h2 {
  font-size: 2.5em;
  color: white;
  text-align: center;
}
/* line 23, ../sass/_homepage.scss */
#block-views-factfile-block-1 ul.pager {
  display: none;
}
/* line 27, ../sass/_homepage.scss */
#block-views-factfile-block-1 #slick-views-factfile-1 .views-field-title {
  text-align: center;
  margin: 5% 0 10%;
}
/* line 30, ../sass/_homepage.scss */
#block-views-factfile-block-1 #slick-views-factfile-1 .views-field-title a {
  font-size: 1.5em;
  color: lightgreen;
}
/* line 35, ../sass/_homepage.scss */
#block-views-factfile-block-1 #slick-views-factfile-1 nav.slick__arrow {
  padding-bottom: 10px;
  position: initial;
}
/* line 40, ../sass/_homepage.scss */
#block-views-factfile-block-1 #slick-views-factfile-1 nav button {
  -webkit-transform: initial;
  -moz-transform: initial;
  -ms-transform: initial;
  -o-transform: initial;
  transform: initial;
}

/* line 56, ../sass/_homepage.scss */
#block-views-vive-la-revolution-block {
  z-index: 5;
  width: 100%;
  height: auto;
  outline: 4px dashed red;
  padding: 10px;
  margin-top: 15%;
}
/* line 63, ../sass/_homepage.scss */
#block-views-vive-la-revolution-block h2 {
  font-size: 2.5em;
  color: white;
  text-align: center;
}
/* line 68, ../sass/_homepage.scss */
#block-views-vive-la-revolution-block ul.pager {
  display: none;
}
/* line 72, ../sass/_homepage.scss */
#block-views-vive-la-revolution-block #slick-views-vive-la-revolution-2 .views-field-title {
  text-align: center;
  margin: 5% 0 10%;
}
/* line 75, ../sass/_homepage.scss */
#block-views-vive-la-revolution-block #slick-views-vive-la-revolution-2 .views-field-title a {
  font-size: 1.5em;
  color: lightgreen;
}
/* line 80, ../sass/_homepage.scss */
#block-views-vive-la-revolution-block #slick-views-vive-la-revolution-2 nav.slick__arrow {
  padding-bottom: 10px;
  position: initial;
}
/* line 84, ../sass/_homepage.scss */
#block-views-vive-la-revolution-block #slick-views-vive-la-revolution-2 nav button {
  -webkit-transform: initial;
  -moz-transform: initial;
  -ms-transform: initial;
  -o-transform: initial;
  transform: initial;
}

/* line 7, ../sass/_carousel_of_horrors.scss */
.carouselOfHorrors#slick-views-factfile-1 nav button.slick-next {
  margin-right: 5%;
}
/* line 10, ../sass/_carousel_of_horrors.scss */
.carouselOfHorrors#slick-views-factfile-1 nav button.slick-prev {
  margin-left: 5%;
}
/* line 15, ../sass/_carousel_of_horrors.scss */
.carouselOfHorrors .slick-dots {
  padding-bottom: 18px;
}
/* line 23, ../sass/_carousel_of_horrors.scss */
.carouselOfHorrors .slick-slide img {
  float: left;
  margin-left: 10%;
  margin-top: 2%;
}

/* line 31, ../sass/_carousel_of_horrors.scss */
.upper-film-reel {
  background-image: url("/sites/default/files/site-design-images/2000x100px-filmstrip-top.png");
  height: 100px;
  clear: both;
  display: block;
}

/* line 38, ../sass/_carousel_of_horrors.scss */
.lower-film-reel {
  background-image: url("/sites/default/files/site-design-images/2000x100px-filmstrip-top.png");
  height: 100px;
  clear: both;
  display: block;
}

/* line 45, ../sass/_carousel_of_horrors.scss */
.node-monster-factfile.node-teaser {
  margin-left: 3%;
  margin-right: 15%;
  text-align: center;
}
/* line 51, ../sass/_carousel_of_horrors.scss */
.node-monster-factfile.node-teaser header {
  width: 25%;
  position: absolute;
  top: 10%;
}
/* line 57, ../sass/_carousel_of_horrors.scss */
.node-monster-factfile.node-teaser header h2 {
  font-size: 3em;
}
/* line 67, ../sass/_carousel_of_horrors.scss */
.node-monster-factfile.node-teaser .field-name-body {
  margin-top: 20%;
  margin-bottom: 1%;
  width: 25%;
  text-align: center;
  float: right;
  height: auto;
}
/* line 77, ../sass/_carousel_of_horrors.scss */
.node-monster-factfile.node-teaser footer .list-inline li {
  display: block;
  clear: right;
  text-align: center;
  width: 25%;
}
/* line 86, ../sass/_carousel_of_horrors.scss */
.node-monster-factfile.node-teaser footer .list-inline li.comment-add {
  display: none;
}
