$top20: 20%;
$fredericka: 'Fredericka the Great';
$resistance-title: 3em;


.page-know-your-enemy {
//    height: 100%;
//    background-color: black;
//    z-index: -10;
//    .main-container
    .region-content {
    }
}

.carouselOfHorrors {
    article.node-monster-factfile {
        padding-bottom: 0;
    }
    //background-color: white;
    &#slick-views-factfile-1 {
        nav button {
             //margin-top: 15%;
            &.slick-next {
                margin-right: 5%;
            }
            &.slick-prev {
                margin-left: 5%;
            }
        }
    }
    .slick-dots {
        padding-bottom: 18px;
    }
    .slick-slide {
        //background-image: url("/sites/default/files/site-design-images/2000px-Film_strip.svg_.png");
        //background-repeat: round;
        img {
            float: left;
            border-left: 8px solid black;
            border-right: 8px solid black;
            margin-right: 20px;
            //margin-left: 10%;
            //margin-top: 2%;
            //margin-bottom: 7%;
        }
    }
    .node-monster-factfile.node-teaser {
        margin-left:10%;
        margin-right: 10%;
        text-align: center;
        //border-left: 8px solid black;
        border-right: 8px solid black;
        //background-image: url("/sites/default/files/site-design-images/2000px-Film_strip.svg_.png");
        //background-repeat: round;
        header {
            //margin: 10% auto 5%;
            //padding-top: 10%;
            //width: 35%;
            //position: absolute;
            //top: $top20;
            padding-right: 20px;
            padding-bottom: 10px;
            clear: both;
            float: right;
            text-align: right;
            h2 {
                font-size: 3em;
            }

        }
        .field-name-field-filmstrip-top img, .field-name-field-filmstrip-bottom img {
            margin-left: 0;
        }

        .field-name-body {
            //position: absolute;
            //top: 30%;
            //top: $top20 + 10%;
            margin-top: 20%;
            margin-bottom: 1%;
            margin-right: 20px;
            //width: 35%;
            text-align: center;
            //float: right;
            height: auto;

        }
        footer {
            .list-inline li {
                display: block;
                clear: right;
                text-align: center;
                //width: 35%;
                .node-readmore a {
                    //display: block;
                    //clear: both;
                }
                &.comment-add, &.comment_forbidden, &.comment-comments {
                    display: none;
                }
            }
        }
    }

}
// This repeats some of the styles from node view into comment add/edit/reply.

.page-comment {
    .region-content {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5px;
    }
    .comment {
        .list-inline {
            clear: left;
            padding-left: 10px;
            padding-bottom: 5px;
        }
        .submitted {
            padding-top: 10px;
        }
        h3 .permalink {
            display: none;
        }
        p {
            color:  black;
        }
    }
}
// This section is for the know-your-enemy/monster factfile node view.

article.node-monster-factfile {
    padding-bottom: 15px;
}

.node-type-monster-factfile {
    .field-label {
        font-family: $fredericka;
        font-size: $resistance-title / 2;
        font-weight: normal;
        color: #000;
        padding-bottom: 5px;
        padding-top: 15px;
    }
    header {
        text-align: center;
        span.submitted {
            padding-top: 10px;
            padding-bottom: 10px;
            display: block;
        }
    }
    #comments {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5px;
        h2 {
            font-size: $resistance-title / 2;
            font-family: $fredericka;
            color: #000;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .comment {
            background-color: rgba(100, 100, 100, 0.1);
            text-align: left;
            padding-bottom: 5px;
            padding-left: 10px;

            .list-inline {
                clear: left;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            .submitted {
                //padding-top: 10px;
            }
            h3 .permalink {
                display: none;
            }
            p {
                color:  black;
                padding-bottom: 5px;
            }
            &.well {
                margin-top: 10px;
                margin-bottom: 0;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
            }
        }
        // Using the pre-existing 'indented' class,
        // but using it to move all comment replies to the right-hand side of the div.
        .indented .comment {
            background-color: rgba(200, 200, 200, 0.1);
            text-align: right;
            padding-top: 5px;
            padding-right: 10px;
            p {
                width: 50%;
                float: right;
                padding-bottom: 5px;
                color: #2d6987;
            }
            .list-inline {
                clear: right;
                padding-bottom: 10px;
                //border-bottom: 1px solid orange;
                li {
                    &.comment-reply, .comment-delete, .comment-edit {
                    }
                }
            }
            &.well {
                margin-bottom: 0;
                margin-top: 0px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
            }
            .new {
                color: orange;
                font-family: $fredericka;

            }
        }
    }
    footer {
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 5px;
        .list-inline {
            margin-left: 0;
            border-bottom: 1px solid black;
            padding-top: 5px;
            padding-bottom: 5px;

        }
        //text-align: center;
        .field-name-field-tags {
            display: inline-block;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

.upper-film-reel-top {

    //background-color: white;
    //background-image: url("/sites/default/files/site-design-images/2000x100px-filmstrip-top.png");
    height: 10px;
    clear: both;
    display: block;
}
.lower-film-reel {

    //background-color: white;
    background-image: url("/sites/default/files/site-design-images/2000x100px-filmstrip-bottom-alt.png");
    height: 100px;
    clear: both;
    display: block;
}
.lower-film-reel-beneath {
    height: 100%;
    background-color: black;
}
