$top20: 20%;


.page-know-your-enemy {
//    height: 100%;
//    background-color: black;
//    z-index: -10;
//    .main-container
    .region-content {
    }
}

.carouselOfHorrors {
    //background-color: white;
    &#slick-views-factfile-1 {
        nav button {
             //margin-top: 15%;
            &.slick-next {
                margin-right: 5%;
            }
            &.slick-prev {
                margin-left: 5%;
            }
        }
    }
    .slick-dots {
        padding-bottom: 18px;
    }
    .slick-slide {
        //background-image: url("/sites/default/files/site-design-images/2000px-Film_strip.svg_.png");
        //background-repeat: round;
        img {
            float: left;
            border-left: 8px solid black;
            border-right: 8px solid black;
            margin-right: 20px;
            //margin-left: 10%;
            //margin-top: 2%;
            //margin-bottom: 7%;
        }
    }
    .node-monster-factfile.node-teaser {
        margin-left:10%;
        margin-right: 10%;
        text-align: center;
        //border-left: 8px solid black;
        border-right: 8px solid black;
        //background-image: url("/sites/default/files/site-design-images/2000px-Film_strip.svg_.png");
        //background-repeat: round;
        header {
            //margin: 10% auto 5%;
            //padding-top: 10%;
            //width: 35%;
            //position: absolute;
            //top: $top20;
            padding-right: 20px;
            padding-bottom: 10px;
            clear: both;
            float: right;
            text-align: right;
            h2 {
                font-size: 3em;
            }

        }
        .field-name-field-filmstrip-top img, .field-name-field-filmstrip-bottom img {
            margin-left: 0;
        }

        .field-name-body {
            //position: absolute;
            //top: 30%;
            //top: $top20 + 10%;
            margin-top: 20%;
            margin-bottom: 1%;
            margin-right: 20px;
            //width: 35%;
            text-align: center;
            //float: right;
            height: auto;

        }
        footer {
            .list-inline li {
                display: block;
                clear: right;
                text-align: center;
                //width: 35%;
                .node-readmore a {
                    //display: block;
                    //clear: both;
                }
                &.comment-add, &.comment_forbidden {
                    display: none;
                }
            }
        }
    }

}
.upper-film-reel-top {

    //background-color: white;
    //background-image: url("/sites/default/files/site-design-images/2000x100px-filmstrip-top.png");
    height: 10px;
    clear: both;
    display: block;
}
.lower-film-reel {

    //background-color: white;
    background-image: url("/sites/default/files/site-design-images/2000x100px-filmstrip-bottom-alt.png");
    height: 100px;
    clear: both;
    display: block;
}
.lower-film-reel-beneath {
    height: 100%;
    background-color: black;
}
